/*!
 *   Name:
 * Author:
 *
 * Includes :
 *   - bootstrap main css
 *   - bootstrap responsive css
 *   - custom css
 *
 */
//
// Twitter Bootstrap framwork
// --------------------------------------------------
@import '../components/bootstrap/less/variables';
@import '../components/bootstrap/less/mixins';
@import '../components/bootstrap/less/bootstrap';
@import '../components/bootstrap/less/forms';

/*!
 * Custom css
 */

h1 {
  color: #0000ff;
}

input {
  width: 130px;
}

.value {
  color: #888888;
}

#logout {
  float: right;
  margin-top: -85px;
}

.delete {
  float: left;
  margin-left: 250px;
  margin-top: -85px;
}

.documents {
  float: right;
  margin-top: -50px;
}