/*!
 *   Name:
 * Author:
 *
 * Includes :
 *   - bootstrap main css
 *   - bootstrap responsive css
 *   - custom css
 *
 */
//
// Twitter Bootstrap framwork
// --------------------------------------------------
@import '../components/bootstrap/less/variables';
@import '../components/bootstrap/less/mixins';
@import '../components/bootstrap/less/bootstrap';
@import '../components/bootstrap/less/forms';

@icon-font-path:          "/fonts/";
@import '../components/bootstrap/less/glyphicons';

/*!
 * Custom css
 */

body {
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  color: #0000ff;
}

input {
  width: 10px;
}

.value {
  color: #888888;
}

#logout {
  float: right;
  margin-top: -85px;
}

.delete-object {
  float: left;
  margin-left: 250px;
  margin-top: -85px;
}

.documents {
  float: right;
  margin-top: -50px;
}

.right {
  text-align: right;
}