<div id="header">
    <div class="container">
        <h1>Nová autoškola</h1>
        <div id="logoutMainPage">
            <a href="/#/autoskoly">Zpět na autoškoly  |</a>
            <a href="">Odhlásit</a>
        </div>
        <form novalidate class="css-form" name="drivingSchoolForm">
            <table class="detail-table">
                <tr>
                    <td class="bold">název autoškoly</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.drivingSchool['nazev']" required></td>
                    <td class="bold">město</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_mesto']" required></td>
                </tr>
                <tr>
                    <td class="bold">uživatel</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.user['uzivatelske_jmeno']" required></td>
                    <td class="bold">ulice</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_ulice']" required></td>
                </tr>
                <tr>
                    <td class="bold">heslo uživatele</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.user['heslo']" required></td>
                    <td class="bold">číslo pop.</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_cp']" required></td>
                </tr>
                <tr>
                    <td class="bold">role uživatele</td>
                    <td>
                        <select class="form-control" ng-model="createDrivingSchoolCtrl.user['role']" required>
                            <option ng-value="jednatel">jednatel</option>
                            <option ng-value="urednik">úředník</option>
                        </select>
                    </td>
                    <td class="bold">psč</td>
                    <td><input class="form-control" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_psc']" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right">
                        <button ng-click="createDrivingSchoolCtrl.saveDrivingSchool(createDrivingSchoolCtrl.drivingSchool, createDrivingSchoolCtrl.user)"
                                class="btn btn-primary" ng-disabled="!drivingSchoolForm.$valid">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            Vytvořit
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>