<div id="header">
    <div class="container">
        <h1>Nová autoškola</h1>
        <div id="logoutMainPage">
            <a href="/#/autoskoly">Zpět na autoškoly  |</a>
            <a href="" ng-click="auth.logout()">Odhlásit</a>
        </div>
        <form novalidate class="css-form" name="drivingSchoolForm">
            <table class="detail-table">
                <tr>
                    <td class="bold">název autoškoly</td>
                    <td ng-class="{'has-error': drivingSchoolForm.name.$invalid && drivingSchoolForm.name.$dirty}">
                        <input class="form-control" name="name" ng-model="createDrivingSchoolCtrl.drivingSchool['nazev']"
                               placeholder="název autoškoly" maxlength="30" required>
                    </td>
                    <td class="bold">město</td>
                    <td ng-class="{'has-error': drivingSchoolForm.city.$invalid && drivingSchoolForm.city.$dirty}">
                        <input class="form-control" name="city" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_mesto']"
                               placeholder="město" ng-pattern="/[Á-Žá-žA-Za-z]{2,30}$/" maxlength="30" required>
                    </td>
                </tr>
                <tr>
                    <td class="bold">jednatel</td>
                    <td ng-class="{'has-error': drivingSchoolForm.secretery.$invalid && drivingSchoolForm.secretery.$dirty}">
                        <input class="form-control" name="secretery" ng-model="createDrivingSchoolCtrl.user['uzivatelske_jmeno']"
                               placeholder="jednatel autoškoly" ng-pattern="/[Á-Žá-žA-Za-z]{2,30}$/" maxlength="30" required></td>
                    <td class="bold">ulice</td>
                    <td ng-class="{'has-error': drivingSchoolForm.street.$invalid && drivingSchoolForm.street.$dirty}">
                        <input class="form-control" name="street" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_ulice']"
                               placeholder="ulice" ng-pattern="/[Á-Žá-žA-Za-z.]{2,30}$/" maxlength="30" required>
                    </td>
                </tr>
                <tr>
                    <td class="bold">heslo jednatele</td>
                    <td ng-class="{'has-error': drivingSchoolForm.password.$invalid && drivingSchoolForm.password.$dirty}">
                        <input class="form-control" name="password" ng-model="createDrivingSchoolCtrl.user['heslo']" ng-pattern="/.{5,50}/"
                               placeholder="heslo jednatele" required>
                    </td>
                    <td class="bold">číslo pop.</td>
                    <td ng-class="{'has-error': drivingSchoolForm.number.$invalid && drivingSchoolForm.number.$dirty}">
                        <input class="form-control" name="number" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_cp']"
                               placeholder="číslo popisné" ng-pattern="/[0-9]{1,5}/" maxlength="5" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="bold">psč</td>
                    <td ng-class="{'has-error': drivingSchoolForm.psc.$invalid && drivingSchoolForm.psc.$dirty}">
                        <input class="form-control" name="psc" ng-model="createDrivingSchoolCtrl.drivingSchool['adresa_psc']"
                               placeholder="poštovní směrovací číslo" ng-pattern="/[0-9]{5}/" maxlength="5" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right">
                        <button ng-click="createDrivingSchoolCtrl.saveDrivingSchool(createDrivingSchoolCtrl.drivingSchool, createDrivingSchoolCtrl.user)"
                                class="btn btn-primary" ng-disabled="!drivingSchoolForm.$valid">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            Vytvořit
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>