<div id="header">
    <div class="container">
        <h1>Nová autoškola</h1>
        <div id="logoutMainPage">
            <a href="/#/autoskoly">Zpět na autoškoly  |</a>
            <a href="">Odhlásit</a>
        </div>
        <form novalidate class="css-form" name="drivingSchoolForm">
            <table class="detail-table">
                <tr>
                    <td class="bold">název autoškoly</td>
                    <td><input class="form-control" ng-model="drivingSchoolCtrl.drivingSchool['nazev']" required></td>
                    <td class="bold">město</td>
                    <td><input class="form-control" ng-model="drivingSchoolCtrl.drivingSchool['adresa_mesto']" required></td>
                </tr>
                <tr>
                    <td class="bold">jednatel</td>
                    <td><input class="form-control" ng-model="" required></td>
                    <td class="bold">ulice</td>
                    <td><input class="form-control" ng-model="drivingSchoolCtrl.drivingSchool['adresa_ulice']" required></td>
                </tr>
                <tr>
                    <td class="bold">heslo jednatele</td>
                    <td><input class="form-control" ng-model="" required></td>
                    <td class="bold">číslo pop.</td>
                    <td><input class="form-control" ng-model="drivingSchoolCtrl.drivingSchool['adresa_cp']" required></td>
                </tr>
                <tr>
                    <td class="bold">psč</td>
                    <td><input class="form-control" ng-model="drivingSchoolCtrl.drivingSchool['adresa_psc']" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="right">
                        <button ng-click="drivingSchoolCtrl.saveDrivingSchool()"
                                class="btn btn-primary" ng-disabled="!drivingSchoolForm.$valid">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            Vytvořit
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>