<div>
    <div id="header">
        <div class="container">
            <h1>{{drivingSchoolCtrl.drivingSchool.nazev}}</h1>
            <div id="logoutMainPage">
                <a href="">Nastavení  |</a>
                <a href="">Odhlásit</a>
            </div>
            <table class="detail-table">
                <tr>
                    <td class="bold">město</td>
                    <td>{{drivingSchoolCtrl.drivingSchool['adresa_mesto']}}</td>
                    <td class="bold">počet učitelů</td>
                    <td>{{drivingSchoolCtrl.teachers.length}}</td>
                </tr>
                <tr>
                    <td class="bold">ulice</td>
                    <td>{{drivingSchoolCtrl.drivingSchool['adresa_ulice']}}</td>
                    <td class="bold">počet vozidel</td>
                    <td>{{drivingSchoolCtrl.vehicles.length}}</td>
                </tr>
                <tr>
                    <td class="bold">číslo pop.</td>
                    <td>{{drivingSchoolCtrl.drivingSchool['adresa_cp']}}</td>
                    <td class="bold">počet akt. kurzů</td>
                    <td>{{drivingSchoolCtrl.courses.length}}</td>
                </tr>
                <tr>
                    <td class="bold">psč</td>
                    <td>{{drivingSchoolCtrl.drivingSchool['adresa_psc']}}</td>
                </tr>
            </table>
            <div id="headerTab">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: drivingSchoolCtrl.listType == 'vozidla'}"><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/vozidla">Vozidla</a></li>
                    <li ng-class="{active: drivingSchoolCtrl.listType == 'ucitele'}"><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/ucitele">Učitelé</a></li>
                    <li ng-class="{active: drivingSchoolCtrl.listType == 'kurzy'}"><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/kurzy">Kurzy</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 ng-if="drivingSchoolCtrl.listType == 'vozidla'">Seznam vozidel</h3>
        <button id="createObject" ng-click="$parent.drivingSchoolCtrl.createVehicle()" class="btn btn-primary"
                ng-if="drivingSchoolCtrl.listType == 'vozidla'">
            <span class="glyphicon glyphicon-floppy-save"></span> Přidat vozidlo
        </button>
        <table class="table" ng-if="drivingSchoolCtrl.listType == 'vozidla'">
            <tr>
                <th>značka</th>
                <th>model</th>
                <th>vin</th>
                <th></th>
            </tr>
            <tr ng-repeat="vehicle in drivingSchoolCtrl.vehicles">
                <td><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/vozidla/{{vehicle.vozidlo_id}}">{{vehicle.znacka}}</a></td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.vin}}</td>
                <td class="right">
                    <button ng-click="drivingSchoolCtrl.deleteVehicle(vehicle)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </table>

        <h3 ng-if="drivingSchoolCtrl.listType == 'ucitele'">Seznam učitelů</h3>
        <a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/ucitele/nove"
           ng-if="drivingSchoolCtrl.listType == 'ucitele'">Pridat ucitele</a>
        <table class="table" ng-if="drivingSchoolCtrl.listType == 'ucitele'">
            <tr>
                <th>jméno</th>
                <th>příjmení</th>
            </tr>
            <tr ng-repeat="teacher in drivingSchoolCtrl.teachers">
                <td>{{teacher.jmeno}}</td>
                <td>{{teacher.prijmeni}}</td>
            </tr>
        </table>

        <h3 ng-if="drivingSchoolCtrl.listType == 'kurzy'">Seznam kurzů</h3>
        <a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/kurzy/nove"
           ng-if="drivingSchoolCtrl.listType == 'kurzy'">Pridat kurz</a>
        <table class="table" ng-if="drivingSchoolCtrl.listType == 'kurzy'">
            <tr>
                <th>id</th>
                <th>datum otevření</th>
                <th colspan="2">stav</th>
            </tr>
            <tr ng-repeat="course in drivingSchoolCtrl.courses">
                <td><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.autoskola_id}}/kurzy/{{course.kurz_id}}">{{course['identifikacni_cislo']}}</a></td>
                <td>{{course['datum_od']}}</td>
                <td>{{course.stav}}</td>
                <td class="right">
                    <button ng-click="$parent.$parent.drivingSchoolCtrl.deleteCourse(course)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>