<h1>{{drivingSchoolCtrl.drivingSchool.nazev}}</h1>
<h3>seznam vozidel</h3>
<a href="/#/vozidlo/-1">Pridat vozidlo</a>
<table class="table">
    <tr>
        <th>znacka</th>
        <th>model</th>
        <th>vin</th>
        <th></th>
    </tr>
    <tr ng-repeat="vehicle in drivingSchoolCtrl.drivingSchool.vozidla">
        <td><a href="/#/vozidlo/{{vehicle.id}}">{{vehicle.znacka}}</a></td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.vin}}</td>
        <td><button ng-click="drivingSchoolCtrl.deleteVehicle(vehicle)">Odstarnit</button></td>
    </tr>
</table>

<h3>seznam ucitelu</h3>
<table class="table">
    <tr>
        <th>jmeno</th>
        <th>prijmeni</th>
    </tr>
    <tr ng-repeat="teacher in drivingSchoolCtrl.drivingSchool.ucitele">
        <td>{{teacher.jmeno}}</td>
        <td>{{teacher.prijmeni}}</td>
    </tr>
</table>