<h1>{{drivingSchoolCtrl.drivingSchool.nazev}}</h1>
<h3>seznam vozidel</h3>
<a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.id}}/vozidla/nove">Pridat vozidlo</a>

<ul>
    <li ng-class="{active: drivingSchoolCtrl.listType == 'vozidla'}"><a>Vozidla</a></li>
    <li ng-class="{active: drivingSchoolCtrl.listType == 'ucitele'}"><a>Ucitele</a></li>
    <li ng-class="{active: drivingSchoolCtrl.listType == 'kurzy'}"><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.id}}/kurzy">Kurzy</a></li>
</ul>

<table class="table" ng-if="drivingSchoolCtrl.listType == 'vozidla'">
    <tr>
        <th>znacka</th>
        <th>model</th>
        <th>vin</th>
        <th></th>
    </tr>
    <tr ng-repeat="vehicle in drivingSchoolCtrl.drivingSchool.vozidla">
        <td><a href="#/autoskola/{{drivingSchoolCtrl.drivingSchool.id}}/vozidla/{{vehicle.id}}">{{vehicle.znacka}}</a></td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.vin}}</td>
        <td><button ng-click="drivingSchoolCtrl.deleteVehicle(vehicle)">Odstranit</button></td>
    </tr>
</table>

<h3>seznam ucitelu</h3>
<table class="table">
    <tr>
        <th>jmeno</th>
        <th>prijmeni</th>
    </tr>
    <tr ng-repeat="teacher in drivingSchoolCtrl.drivingSchool.ucitele">
        <td>{{teacher.jmeno}}</td>
        <td>{{teacher.prijmeni}}</td>
    </tr>
</table>