<div id="header">
    <div class="container">
        <h1>{{drivingSchoolCtrl.drivingSchool.nazev}}</h1>
        <div id="logoutMainPage">
            <a href="">Nastavení  |</a>
            <a href="">Odhlásit</a>
        </div>

        <h1 class="fixedHeight">Seznam autoškol</h1>
    </div>
</div>
<div class="container">
    <table class="table">
        <tr>
            <th>id autoškoly</th>
            <th>název</th>
            <th>město</th>
        </tr>
        <tr ng-repeat="school in listDrivingSchoolsCtrl.listSchools">
            <td>{{school.autoskola_id}}</td>
            <td>{{school.nazev}}</td>
            <td>{{school.adresa_mesto}}</td>
        </tr>
    </table>
</div>
