<div>
    <div id="header">
        <div class="container">
            <h1>Seznam autoškol</h1>
            <div id="logoutMainPage">
                <a href="">Nastavení  |</a>
                <a href="">Odhlásit</a>
            </div>
            <h3 class="fixedHeight120">IS Autoškola</h3>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>id autoškoly</th>
                <th>název</th>
                <th>město</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="school in listDrivingSchoolsCtrl.listSchools">
                <td>
                    <a href="#/autoskola/{{school.autoskola_id}}">{{school['autoskola_id']}}</a>
                </td>
                <td>{{school.nazev}}</td>
                <td>{{school['adresa_mesto']}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

