<div>
    <div id="header">
        <div class="container">
            <h1>Seznam autoškol</h1>
            <div id="logoutMainPage">
                <a href="">Nastavení  |</a>
                <a href="" ng-click="auth.logout()">Odhlásit</a>
            </div>
            <h3 class="fixedHeight120">IS Autoškola</h3>
        </div>
    </div>
    <div class="container">
        <h3>Seznam autoškol</h3>
        <button id="createObject" ng-click="listDrivingSchoolsCtrl.createDrivingSchool()" class="btn btn-primary"
                ng-if="auth.user.role == 'spravce'">
            <span class="glyphicon glyphicon-floppy-save"></span> Přidat autoškolu
        </button>
        <table class="table">
            <thead>
            <tr>
                <th>id autoškoly</th>
                <th>název</th>
                <th>město</th>
                <th>ulice</th>
                <th>číslo popisné</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="school in listDrivingSchoolsCtrl.listSchools">
                <td>
                    <a href="#/autoskola/{{school.autoskola_id}}">{{school['autoskola_id']}}</a>
                </td>
                <td>
                    <a href="#/autoskola/{{school.autoskola_id}}">{{school.nazev}}</a>
                </td>
                <td>{{school['adresa_mesto']}}</td>
                <td>{{school['adresa_ulice']}}</td>
                <td>{{school['adresa_cp']}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

