<div>
    <div id="header">
        <div class="container">
            <h1>IS autoškoly</h1>
            <h3>Přihlášení</h3>
            <table>
                <tr>
                    <td>uživ. jméno</td>
                    <td><input type="text" placeholder="uživatelské jméno" class="form-control"></td>
                </tr>
                <tr>
                    <td>heslo</td>
                    <td><input type="text" placeholder="heslo" class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="2" class="right">
                        <button ng-click="" class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-save"></span> Přihlásit
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <a href="/#/autoskola/1" ng-click="auth.login('jednatel')">přihlášení jako jednatel autoškoly</a><br>
        <a href="/#/autoskoly" ng-click="auth.login('urednik')">přihlášení jako úředník</a><br>
        <a href="/#/autoskoly" ng-click="auth.login('spravce')">přihlášení jako správce</a>
    </div>
</div>