<div id="header">
    <div class="container">
        <h1>{{studentDetailCtrl.student.jmeno}} {{studentDetailCtrl.student.prijmeni}}</h1>
        <h3>{{studentDetailCtrl.drivingSchool['nazev']}}</h3>
    <span class="delete-object">
    <button ng-click="studentDetailCtrl.deleteStudent(studentDetailCtrl.student)"
            class="btn btn-danger btn-xs" ng-if="auth.user.role == 'jednatel'">
        <span class="glyphicon glyphicon-remove"></span> Smazat žáka</button>
    </span>
        <div id="logout">
            <a ng-if="studentDetailCtrl.courseId" href="/#/autoskola/{{studentDetailCtrl.drivingSchool.autoskola_id}}/kurzy/{{studentDetailCtrl.courseId}}">
                Zpět na kurzy  |</a>
            <a ng-if="studentDetailCtrl.vehicleId" href="/#/autoskola/{{studentDetailCtrl.drivingSchool.autoskola_id}}/vozidla/{{studentDetailCtrl.vehicleId}}">
                Zpět na vozidla  |</a>
            <a href="">Odhlásit</a>
        </div>
        <form name="studentForm">
            <table class="detail-table">
                <tr>
                    <td>jméno</td>
                    <td ng-class="{'has-error': studentForm.firstname.$invalid && studentForm.firstname.$dirty}">
                        <input type="text" name="firstname" ng-model="studentDetailCtrl.student.jmeno" class="form-control"
                               ng-disabled="auth.user.role != 'jednatel'" placeholder="jméno" ng-pattern="/[Á-Žá-žA-Za-z]{2,30}$/" required/>
                    </td>
                </tr>
                <tr>
                    <td>příjmení</td>
                    <td ng-class="{'has-error': studentForm.surname.$invalid && studentForm.surname.$dirty}">
                        <input type="text" name="surname" ng-model="studentDetailCtrl.student.prijmeni" class="form-control"
                               ng-disabled="auth.user.role != 'jednatel'" placeholder="příjmení" ng-pattern="/[Á-Žá-žA-Za-z]{2,30}$/" required/>
                    </td>
                </tr>
                <tr>
                    <td>matriční číslo</td>
                    <td ng-class="{'has-error': studentForm.matNumber.$invalid && studentForm.matNumber.$dirty}">
                        <input type="text" name="matNumber" ng-model="studentDetailCtrl.student.matricni_cislo" class="form-control"
                               ng-disabled="auth.user.role != 'jednatel'" ng-pattern="/^[0-9]*$/" maxlength="6"
                               placeholder="matriční číslo" required/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="right">
                        <button ng-click="studentDetailCtrl.saveStudent(studentDetailCtrl.student)"
                                class="btn btn-primary" ng-disabled="!studentForm.$dirty || !studentForm.$valid">
                            <span class="glyphicon glyphicon-floppy-save"></span> Uložit změny</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="container">
    <h3>Hodiny teorie</h3>
    <table class="table">
        <tr>
            <th>datum</th>
            <th>od<span class="value">[hh:mm]</span></th>
            <th>do<span class="value">[hh:mm]</span></th>
            <th>učitel</th>
            <th>typ výuky</th>
        </tr>
        <tr ng-repeat="lesson in studentDetailCtrl.lessons">
            <td>{{lesson.datum}}</td>
            <td>{{lesson['cas_od']}}</td>
            <td>{{lesson['cas_do']}}</td>
            <td>{{studentDetailCtrl.teachers.find(lesson['ucitel_id']).prijmeni}}</td>
            <td>{{lesson['typ']}}</td>
        </tr>
    </table>

    <h3>Kniha jízd</h3>
    <table class="table">
        <tr>
            <th>datum</th>
            <th>od<span class="value">[hh:mm]</span></th>
            <th>do<span class="value">[hh:mm]</span></th>
            <th>ujetá vzdálenost<span class="value">[km]</span></th>
            <th>učitel</th>
        </tr>
        <tr ng-repeat="ride in studentDetailCtrl.rides">
            <td>{{ride.datum}}</td>
            <td>{{ride['cas_od']}}</td>
            <td>{{ride['cas_do']}}</td>
            <td>{{ride['najeto']}}</td>
            <td>{{studentDetailCtrl.teachers.find(ride['ucitel_id']).prijmeni}}</td>
        </tr>
    </table>
</div>