<div id="header">
    <div class="container">
        <h1 ng-if="!vehicleDetailCtrl.isNew">{{vehicleDetailCtrl.vehicle.znacka}} {{vehicleDetailCtrl.vehicle.model}}</h1>
        <h1 ng-if="vehicleDetailCtrl.isNew">Nové vozidlo</h1>
        <h3>{{vehicleDetailCtrl.drivingSchool.nazev}}</h3>
    <span class="delete-object">
    <button ng-click="vehicleDetailCtrl.deleteVehicle(vehicleDetailCtrl.vehicle)"
            ng-if="!vehicleDetailCtrl.isNew" class="btn btn-danger btn-xs">
        <span class="glyphicon glyphicon-remove"></span> Smazat vozidlo</button>
    </span>
        <div id="logout">
            <a href="/#/autoskola/{{vehicleDetailCtrl.drivingSchool.autoskola_id}}/vozidla">Zpět na výpis  |</a>
            <a href="">Odhlásit</a>
        </div>
        <div class="documents">
            <h3>Dokumenty</h3>
            <table class="table">
                <tr>
                    <th>název</th>
                    <th colspan="2">datum vložení</th>
                </tr>
                <tr ng-repeat="document in vehicleDetailCtrl.documents">
                    <td>{{document.dokument_nazev}}</td>
                    <td>{{document['datum_vlozeni']}}</td>
                    <td><button ng-click="vehicleDetailCtrl.deleteDocument(document)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            </table>
        </div>
        <form novalidate class="css-form" name="vehicleForm">
            <table class="detail-table">
                <tr class="right">
                    <td class="bold">značka</td>
                    <td><input type="text" ng-model="vehicleDetailCtrl.vehicle.znacka" class="form-control" required/></td>
                    <td class="bold">rok výroby</td>
                    <td><input type="number" ng-model="vehicleDetailCtrl.vehicle['rok_vyroby']" class="form-control" required/></td>
                    <td class="bold">počet km</td>
                    <td class="left" class="wider">{{vehicleDetailCtrl.vehicle['pocet_km']}}</td>
                </tr>
                <tr class="right">
                    <td class="bold">model</td>
                    <td><input type="text" ng-model="vehicleDetailCtrl.vehicle.model" class="form-control" required/></td>
                    <td class="bold">spz</td>
                    <td><input type="text" ng-model="vehicleDetailCtrl.vehicle['spz']" class="form-control" required/></td>
                    <td class="bold">spotřeba</td>
                    <td class="left">{{vehicleDetailCtrl.vehicle['prumerna_spotreba']}}</td>
                </tr>
                <tr class="right">
                    <td class="bold">typ</td>
                    <td>
                        <select name="selectState" class="form-control" ng-model="vehicleDetailCtrl.vehicle['vozidlo_typ']" required>
                            <option value="motorka">motocykl</option>
                            <option value="osobni">osobní automobil</option>
                            <option value="nakladni">nákladní automobil</option>
                            <option value="autobus">autobus</option>
                        </select>
                    </td>
                    <td class="bold">příští stk</td>
                    <td><input type="date" ng-model="vehicleDetailCtrl.vehicle['datum_stk']" class="form-control" required/></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="right">
                    <td class="bold">vin</td>
                    <td><input type="text" ng-model="vehicleDetailCtrl.vehicle.vin" class="form-control" required/></td>
                    <td class="bold">poč. stav km</td>
                    <td><input type="number" ng-model="vehicleDetailCtrl.vehicle['pocatecni_stav_km']" class="form-control" required/></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="right">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button ng-click="vehicleDetailCtrl.saveVehicle(vehicleDetailCtrl.vehicle)"
                                ng-if="!vehicleDetailCtrl.isNew" class="btn btn-primary" ng-disabled="vehicleForm.$dirty && !vehicleForm.$valid">
                            <span class="glyphicon glyphicon-floppy-save"></span> Uložit změny</button>
                        <button ng-click="vehicleDetailCtrl.saveVehicle(vehicleDetailCtrl.vehicle)"
                                ng-if="vehicleDetailCtrl.isNew" class="btn btn-primary" ng-disabled="!vehicleForm.$valid">
                            <span class="glyphicon glyphicon-floppy-save"></span> Vytvořit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



<div class="container" ng-if="!vehicleDetailCtrl.isNew">
    <h3>Kniha jízd</h3>
    <form novalidate class="css-form" name="rideForm">
        <table class="table">
            <tr>
                <th class="date">datum</th>
                <th>od<span class="value">[hh:mm]</span></th>
                <th>do<span class="value">[hh:mm]</span></th>
                <th class="distance">ujetá vzdálenost<span class="value">[km]</span></th>
                <th class="consumption">spotřeba<span class="value">[l/100km]</span></th>
                <th>učitel</th>
                <th>žák</th>
                <th></th>
            </tr>
            <tr ng-repeat="ride in vehicleDetailCtrl.rides">
                <td>{{ride.datum}}</td>
                <td>{{ride['cas_od']}}</td>
                <td>{{ride['cas_do']}}</td>
                <td>{{ride['najeto']}}</td>
                <td>{{ride.spotreba}}</td>
                <td>{{vehicleDetailCtrl.teachers.find(ride['ucitel_id']).prijmeni}}</td>
                <td>{{vehicleDetailCtrl.teachers.find(ride['student_id']).prijmeni}}</td>
                <td class="right">
                    <button ng-click="vehicleDetailCtrl.deleteRide(ride)" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="date" ng-model="vehicleDetailCtrl.newRide['datum']" class="form-control" required>
                </td>
                <td>
                    <input type="time" ng-model="vehicleDetailCtrl.newRide['od']" class="form-control" required>
                </td>
                <td>
                    <input type="time" ng-model="vehicleDetailCtrl.newRide['do']" class="form-control" required>
                </td>
                <td><input type="number" class="form-control" ng-model="vehicleDetailCtrl.newRide['najeto']"
                           placeholder="vzdálenost" step="0.5" min="0" required></td>
                <td><input type="number" class="form-control" ng-model="vehicleDetailCtrl.newRide['spotreba']"
                           placeholder="spotřeba" step="0.1" min="0" required></td>
                <td>
                    <select name="selectTeachers" class="form-control" required>
                        <option ng-repeat="teacher in vehicleDetailCtrl.teachers">{{teacher.prijmeni}}</option>
                    </select>
                </td>
                <td colspan="2">
                    <select name="selectStudents" class="form-control" required>
                        <option ng-repeat="student in vehicleDetailCtrl.students">{{student.prijmeni}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="right">
                    <button ng-click="vehicleDetailCtrl.createRide(ride)" class="btn btn-primary" ng-disabled="!rideForm.$valid">
                        <span class="glyphicon glyphicon-floppy-save"></span> Uložit jízdu</button>
                </td>
            </tr>
        </table>
    </form>
</div>