<h1>{{drivingSchoolCtrl.getVehicle(1).znacka}}, {{drivingSchoolCtrl.getVehicle(1).model}}</h1>
<h3>{{drivingSchoolCtrl.drivingSchool.nazev}}</h3>
<button ng-click="drivingSchoolCtrl.deleteVehicle(vehicle)">Smazat vozidlo</button>

znacka<input type="text" /><br>
model<input type="text" /><br>
typ<input type="text" /><br>
vin<input type="text" /><br>
rok vyroby<input type="text" /><br>
spz<input type="text" /><br>
posledni STK<input type="text" /><br>
pocatecni stav km<input type="text" /><br>

<h3>Kniha jizd</h3>
<table class="table">
    <tr>
        <th>znacka</th>
        <th>model</th>
        <th>vin</th>
        <th></th>
    </tr>
    <tr ng-repeat="vehicle in drivingSchoolCtrl.drivingSchool.vozidla">
        <td>{{vehicle.znacka}}</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.vin}}</td>
        <td><button ng-click="drivingSchoolCtrl.deleteVehicle(vehicle)">Odstarnit</button></td>
    </tr>
</table>